

*{

padding: 0; 
margin: 0; 
box-sizing: border-box;
 /* outline: 1px solid limegreen; */
 
 
/* background: rgb(0 100 0 / 0.1) !important;  */
}



body{

/* Add the appropriate min-height */
min-height: 100vh;;
width: 100%;
display: flex;
justify-content: center;

}

.container{

width: 100vw;
outline: solid 3px orange;


/* Add the display type here  */
display: grid;
grid-template-columns: repeat(3, minmax(auto, 1fr)); 
gap: 2rem; 


justify-content: center;
justify-items: center; 
overflow: hidden;


}

/* this is the section with trouble  */

/*  */
.cardContainer{
  
    /* outline: 4px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    overflow: hidden;
    
    outline: 10px solid red; 
    transition: ease-in-out 300ms;
    

}

.cardContainer:hover{

    transform: scale(1.1);
    transform: translateY(2deg);
}



/* Now assign each component their respective grid-area */



/* The height here it auto  */
.card{

/* margin: 0 10%;  */


display: flex;
justify-content: center; 
align-items: center;
border-radius: 10%;
color: grey; 

box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);



/* background-color: blue; */
/* max-height: 29rem; */
min-height: 34rem;

}



.title{

display: flex; 
justify-content: center; 
width: 100%;
padding-bottom: .5rem;


}



.button{
    
    /* grid-area: button; */
    /* outline: 4px solid white !important;  */
    display: flex; 
    justify-content: center; 
    width: 100%; 
    
}



.paragraph{

    /* Not working  */
    /* grid-area: paragraph; */
    
    /* outline: 4px solid red; */
    border-radius: 5%; 
    padding: 2% 5%; 
    
    width: 19rem; 
    min-width: 12rem;
    
}

/* Add in the dimensions for the image here  */
.imageContainer img {
  
  max-height: 100%;
  margin: auto;
  display: block;
  border-radius: 5%; 
}


.mainImageContainer{
    width: 100%;
    
    display: flex; 
    justify-content: center;
    
    
}

/* Container for the img tag  */
.imageContainer{

     width: 19rem;
     overflow: hidden;
     /* outline: 5px solid yellow;  */
    min-height: 14rem;  
    position: relative;
    
}


    @media (max-width: 1151px){
        
        .imageContainer{
        
            width: 23vw; 
        
        
        }
        .container{
        
            padding-bottom: 1rem;
            
        }
        
        /* Select the paragraph container here  */
        .paragraph{
        
            /* width: 18vw; */
            width: 23vw; 
            
        }
    }
    
    /* Reset the width setting here  */
    @media (max-width: 871px){
        
        
        .imageContainer{
            
            width: 19rem; 
             

        }
        
        .paragraph{
            
            width: 19rem; 
            
            
        }
        
        

    }


    @media (max-width: 870px){
    
    /* Find out why this is not working  */
    .container{
        
        grid-template-columns: repeat(1, minmax(auto, 1fr)) !important;
        
    }
    
    .card{
    
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }
    
    .button{
    
        margin-top: 3rem;
    }
    
    /* Reset the clamping for the Image and Paragraph rulesets here  */
    
    .paragraph{
    /* This value will need tweaking  */
        /* width: 9rem !important;  */
        

    }
    
    .imageContainer{
            
          /* width: 19rem !important; 
          max-width: 9rem; 
          min-width: 9rem;  */
          

    }
}





