/* Import the font family here  */

/* Add the root variables in here  */
:root{


}


/* Add in the global ruleset here  */
*{
    /* Add in the padding and margin here  */
    outline: none; 



}


html{

    scroll-behavior: smooth;
    
}


/* Add in the body rule set here  */

body{

    width: 100vw; 
    min-height: 100vh;    
    
}

.container{


    width: 100vw;   
    
    /* Find out why there is a gap when this increases */
    /* height: 75px;     */
    /* height: 90px;  */
    background-color: black;
    /* color: rgba(91, 87, 87, 0.3);  */
    /* color: black;  */

    
    
    box-shadow: inset ;
    
}
.navBar{



}

.navContainer{

    background-color: whitesmoke;
    width: 100vw;
    /* Reduce the navbar height with a media query */
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3); */
    z-index: 20000 !important;
    /* color: rgba(91, 87, 87, 0.3);  */
    
    
    
}


.logoContainer{


    width: 20vw;
    height: 100%;
   
    position: absolute;
    left: 0; 
    top: 0; 
    padding-left: 4rem; 
    
    

}

  .navContainer  a{


    text-align: center;
    text-decoration: none;
    list-style: none;
    /* color: rgba(51, 49, 49, 0.3);  */
    color: rgb(86, 97, 107); 
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045) 300ms;
    
    
    padding-right: 1rem; 
}

 .navContainer a:hover{

    color: black; 
    
}

    .wrapper{

    position: absolute;
    left: 0; 
    margin-bottom: 2.5rem;
    
}

.logo{
    
    color: black;     
}

    .listContainer{
    
    list-style: none;
    text-align: center;
    text-decoration: none;
    /* See if this works  */
    padding-left: 15rem;
    
    }
    
    
      .list ul{
    
        list-style: none;
        text-align: center;
        text-decoration: none;
        color: black; 
        
        
    }
    
    
    .listItem  {
        display: inline;
        padding-right: 0.5rem;
        
    }


@media (max-width: 941px){
    
   
    
    .logo{
    
        display: none;
        
    }
    
    .listContainer ul{
    
        display: none;
        

    }
    
    
    /* Add in the navbar selector here  */
    .navContainer{
    
        height: 60px; 
        
    }
    
}

@media (min-width: 950px){

.newHamburger{
    display: none;
    
    
}
.wrapper{
    display: none;
}

}


@media (max-width: 850px) {
    .listContainer{
        display: none;
        
    }
    
    .logoContainer{
    
        display: none;
        
    }
}
