/* Import the font family here  */

/* Add the root variables in here  */
:root{


}


/* Add in the global ruleset here  */
*{
    /* Add in the padding and margin here  */
    
    
    /* Add in the box sizing here  */
    
    /* Add in the outline here  */
}

/* Add in the html scroll behaviour here  */

html{

    scroll-behavior: smooth;
    
}


/* Add in the body rule set here  */

body{

    /* Make sure that the body is a responsive height and width  */
    width: 100vw; 
    min-height: 100vh;
    
    /* Add in the background color here  */
    
    
}


/* Add in the container ruleset here  */

.container{

    width: 100vw;   
    height: 60px;
    
    /* This might break things  */
    
    
    
}

/* Add in the styling for the main navbar here  */

.navBar{



}

.navContainer{

background-color: whitesmoke;
width: 100vw;
height: 50px;


    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add in the Logo container here  */
.logoContainer{


    width: 20vw;
    height: 100%;
   
    position: absolute;
    left: 0; 
    top: 0; 
    padding-left: 4rem; 
    

}

.logo{
    
    /* Make sure the logo is properly centered here  */
    /* Find the Logo container and increase it's width appropriately  */
    /* Then turn it into a flex container and center the contents  */
    

}

    .listContainer{
    
    
    
    }
    
    
    .list{
    
    
    }
    
    
    .listItem{
        display: inline;
        padding-right: 0.5rem;

    }
    


/* Add in the styling and positioning for the Hamburger menu here  */


/* Add in the sub containers here  */




/* Add in the hover effects here  */



/* Add in the media queries here  */

/* Add in the media query to make hid the Hamburger menu when the screen width is a certain width */
@media (min-width: 950px){

.newHamburger{
    display: none;
    
    
}
.wrapper{
    display: none;
}

}


@media (max-width: 850px) {
    .listContainer{
        display: none;
        
    }
    
    .logoContainer{
    
        display: none;
        
    }
}


/* Add in the other media query here to add in the Hamburger Menu  */










