*{


}

html{
/* Add in the smooth scroll property here  */
scroll-behavior: smooth;



}

body{

/* Make sure that the height and width are set correctly  */
/* Make sure the width is set to width: 100vw; and min-height: 100vh */

width: 100vw; 
min-height: 100vh; 
/* Set the box sizing here  */
box-sizing: border-box;


}


/* Put the container here  */

.container{
    
    /* Position the slide in Menu Absolutely here  */
    
  
    
}

.slideMenu{

    background-color: wheat;
    /* Add in the dimensions here  */
    width: 30vw;
    height: 40vh; 
    
    
      /* Move the Slide in Menu off the screen here  */
    /* Use the transforms here  */
    position: absolute;
    left: 0; 
    /* Now move the box off the page */
    /* Does not appear to do much  */
    transform-origin: 0% 0%;
    /* Now move things along it's axies  */
    /* This appears to work  */
    /* transform: translate(-100%, 0); */
    
    /* Add in the transition timing here  */
    transition: transform 0.5s cubic-bezier(0.77, 0.2,0.05,1.0);

}

/* Add the code in here for the checkbox to see if it has been check  */



.navBar{

    

}




nav input:checked ~ section{

    transform: none; 
    
}