*{


}

html{
/* Add in the smooth scroll property here  */
scroll-behavior: smooth;



}

body{

/* Make sure that the height and width are set correctly  */
/* Make sure the width is set to width: 100vw; and min-height: 100vh */

width: 100vw; 
min-height: 100vh; 
/* Set the box sizing here  */
box-sizing: border-box;


}


/* Put the container here  */

.container{
    
    /* Position the slide in Menu Absolutely here  */
    
  
    
    
}

.slideMenu{

    background-color: wheat;
    /* Add in the dimensions here  */
    height: 100vh;
    width: 100%; 
    
    
      /* Move the Slide in Menu off the screen here  */
    /* Use the transforms here  */
    position: absolute;
    left: 0; 
    transform-origin:  0% 0%;
    /* transition: transform 0.5s ease-in-out; */
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
    transform: translate(-150%);
    
    /* Add in the transition timing here  */
    transition: transform 0.5s cubic-bezier(0.77, 0.2,0.05,1.0);

}

/* Add the code in here for the checkbox to see if it has been check  */



.navBar{

    

}



/* See if this is selecting the right thing  */

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }




nav input[type="checkbox"]:checked ~ .slideMenu{

    transform: translate(0); 
    
}